<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="text-center">Showing Post</h1>

  <%= render @post %>

  <div>
    <% if account_signed_in? %>
      <% if @post.account_id == current_account.id %>
        <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline-primary btn-sm mr-2" %> |
      <% end %>
    <% end %>

    <%= link_to "Back to posts", posts_path, class: "btn btn-outline-primary btn-sm ml-2" %>

    <% if account_signed_in? %>
      <% if @post.account_id == current_account.id %>
        <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-outline-secondary btn-sm my-2" %>
      <% end %>
    <% end %>
  </div>
  <hr>
  <div class="my-2 w-25">
    <h4>Add a Comment</h4> 
    <%= form_with model: [ @post, @post.comments.build ] do |form| %>
      <div class="my-2">
        <%= form.text_field :author, value: current_account.name, type: :hidden  %>
      </div>
      <div class="my-2">
        <%= form.label :content, style: "display: block" %>
        <%= form.text_field :content, class: "form-control" %>
      </div>
      <div class="my-2">
        <%= form.text_field :post_id, value: @post.id, type: :hidden %>
      </div>
      <div class="my-2">
        <%= form.submit "Submit", class: "btn btn-sm btn-outline-primary"%>
      </div class="my-2">
    <% end %>
  </div>


  <div class="my-2">
    
    <h5><%= @post.comments.count %> Comments</h5>
    <% if @post.comments.count > 0 %>
      <div id="comments">
        <% @post.comments.each do |comment| %>
          <%= render comment%>
          
          <% if account_signed_in? %>
            <% if @post.account_id == current_account.id %>
              <%= button_to "Delete your comment", post_comment_path(comment.post, comment), class: "btn btn-outline-secondary btn-sm my-2" %>
            <% end %>
          <% end %>
          
          <hr class="w-25">
        <% end %>
      </div>
    <% else %>
      <p>No comments on this post<p>
    <% end %>
  </div>



</div>